* {
  padding: 0;
  margin: 0;
}

.formulaire {
  padding: 40px;
  margin: 50px;
  overflow-y: scroll;
  width: 700px;
  height: 1200px;
  background-color: hwb(240deg 19% 71%);
  justify-content: center;
  margin-left: 600px;
  border-radius: 5px;
  border: solid 1px #1b1b32;
  color: white;
  font-family: ""'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"";
}

.formulaire label {
  display: flex;
  flex-direction: column;
}

.coche {
  margin-left: 0.25rem;
  font-size: 1rem;
  color: #e4e4e4;
}

label .coche {
  display: block;
  position: relative;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

p {
  margin: 3px 8px 4px;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
}

body {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(115deg,#3a3a9ecc, #8888ceb3), "url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg)";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input,
button,
select,
textarea {
  margin: 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: #1b1b32;
  --color-green: #37af65;
}

.boutton {
  height: 34px;
  width: 700px;
  background-color: #37af65;
  text-align: center;
}
